*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: #0f2fbe;
}

.warpper{
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    max-width: 95%;
    background: white;
    margin: auto;
    margin-top:30px;

}

.text{
    border: none;
    outline: none;
    background: #e9edff;
    padding:10px 15px;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.flex{
    display: flex;

}

button{
    border: none;
    outline: none;
    background: #1ee951;
    padding: 10px 15px;
    color:white;
    border-radius: 0px 10px 10px 0px;

}

.searched_content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: warpper;
    padding: 10px;
    max-height: 80vh;
    overflow: auto;
    height: auto;
}

.pic{
    width: 100px;
    height: 100px;
    border-radius:10px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 5px;
    object-fit: cover;
    border: 1px solid lightgray;
    
}


input{
    width:100%;
}